.themechanger {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
}

.themechanger select {
    padding: 10px;
    width: 100%;

}

.themechanger label {
    margin-bottom: 10px;
    font-weight: 600;
}


.demo-section{
    margin-top: 1em;
}

.page-header h1 {
    padding: 1rem 0;
    font-size: 3rem;

    margin-bottom: 1rem;
  }
  
  .page-header h1:after {
    content: ' ';
    display: block;
    border: 2px solid var(--bs-primary);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 300px;
}