/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px --var(--scroll-bar-track);
  border-radius: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: --var(--scroll-bar-thumb);
  border-radius: 0.5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  --var(--scroll-bar-thumb-hover);
}
